protExpress {
    gov.nih.nci.protexpress.security.TomcatCsmLdapLoginModule optional
        ldapHost="${ldap.host.url}"
        ldapSearchableBase="${ldap.searchable.base}"
        ldapUserIdLabel="uid"
        ldapAdminUserName="${ldap.admin.username}"
        ldapAdminPassword="${ldap.admin.password}";
    gov.nih.nci.protexpress.security.TomcatCsmDbLoginModule optional
        driver="${test.jdbc.driverClassName}"
        url="${test.jdbc.url}"
        user="${test.jdbc.username}"
        passwd="${test.jdbc.password}"
        query="SELECT * FROM csm_user WHERE login_name=? and password=?"
        rolesQuery="SELECT 'protExpressUser' from csm_user where login_name=?"
        encryption-enabled="NO";
};