#header {
    margin: 2px;
    padding: 2px;
    border: 1px solid black;
    background-color: rgb(221, 221, 221);
    color: rgb(68, 119, 170);
}

#menu {
    margin: 2px;
    padding: 0px 0px 20px 0px;
    border: 1px solid black;
    background-color: rgb(221, 221, 221);
    float: left;
    width: 190px;
}

#bodyContent {
  padding: 2px;
  margin-left: 200px;
}