/* Default Tags */

:root 
{ overflow-y:scroll; }
BODY, HTML
{ min-width:970px; margin:0; padding:0; font-family:arial,helvetica,sans-serif; color:#333; font-size:85%; background:#fff }
/* IE6 min-width dynamic expression (hack) */
* html #wrapper
{ width:expression(document.body.clientWidth <=970 ? "970px" : "100%" ); }
:lang(en) BODY
{ font-size:87%; }
IMG,TABLE
{ border:0; border-collapse:collapse; empty-cells:show; }
TD
{ font-family:arial,helvetica,sans-serif; vertical-align:top; padding:0 }
TH
{ text-align:left }
UL,LI,H1,H2,H3,H4
{ margin:0; padding:0 }
A
{ color:#386ebf; text-decoration:none }
A:hover
{ color:#455681; text-decoration:underline }
LI
{ list-style-type:none; margin:0; padding:0 }
OL LI 
{ list-style-type:decimal; padding:3px }
P,LI,H1,H2,H3,H4
{ line-height:1.4em }
P
{ margin:0; padding:0 0 1.4em 0 }
H1
{ font-size:155%; font-weight:normal; margin:0 8px 10px 0; padding:6px 6px 4px 0; color:#606060; border-bottom:2px solid #ccc}
H2
{ font-family:arial,helvetica,sans-serif; line-height:1.2em; margin:0; font-size:120%; font-weight:bold; color:#fff; background:#000 url("../images/bg_header_black.gif") repeat-x top; padding:7px;  }
H3
{ clear:both; font-family:arial,helvetica,sans-serif; font-size:130%; line-height:1.4em; color:#606060; padding:10px;  }
H4
{ background:#496DA5; color:#BDD4F9; font-size:125%; padding:5px 6px 5px 10px; border-bottom:2px solid #33558C; height:1.3em; min-height:.1% }
LABEL
{ font-family:arial,helvetica,sans-serif; color:#333; font-weight:bold; font-style:normal }
INPUT, SELECT, TEXTAREA
{ font-family:arial,helvetica,sans-serif; color:#333; font-size:100%  }
TEXTAREA
{ overflow:auto; overflow:-moz-scrollbars-vertical; }
FORM
{ display:inline }
SUB
{ font-size:80%; vertical-align:-15% }
SUP
{ font-size:80%; vertical-align:35% }
:lang(en) SUB 
{ font-size:70%; vertical-align:-20% }
FIELDSET
{ -moz-border-radius:5px; padding:0 10px 10px 10px; margin:10px 15px 10px 15px;  }
:lang(en) FIELDSET
{ margin:5px 15px 10px 15px; border:1px solid #999 }
:lang(en) FIELDSET FIELDSET
{ }
FIELDSET FIELDSET LEGEND
{ line-height:10px }
LEGEND
{ font-size:120%; font-weight:bold; color:#6A8989; padding:3px 7px;  }
:lang(en) LEGEND
{ margin-bottom:1px }

/* Template */

#navskip
{ position:absolute; overflow:hidden; width:0; height:0 }
#nciheader
{ background:#a90101; height:37px; min-width:770px }
#ncilogo
{ float:left; width:283px; height:37px; }
#nihtag
{ float:right; width:295px; height:37px; }
#protexpressheader
{ background:#475b82 url("../images/bg_userarea_fade.jpg") no-repeat bottom right; border-bottom:1px solid #fff; height:50px; min-width:770px  }
#protexpresslogo
{ padding:9px 0 0 4px; float:left; width:187px; }
#userinfo
{ text-align:right; width:27.5em; margin-top:31px; padding:0 10px 0 12px; float:right; color:#b7bed1; font-size:92%; font-weight:bold; }
#userinfo A
{ text-decoration:underline; color:#fff; font-weight:normal; padding:0 3px }
#main
{ float:left; width:100%; min-height:400px; min-width:770px; background:url("../images/bg_leftnav.gif") repeat-y left;  }


/* Help Icon */

.helpicon
{ text-decoration:none; display:block; margin:1em 0 0 0; float:right; width:5em; height:2em; background:url("../images/ico_help_16.gif") no-repeat 0 0; padding-left:19px; }


/* Navigation */

#leftnav
{ float:left; width:175px; margin-left:-100%; font-size:85%; text-transform:uppercase; font-weight:bold;  }
#leftnav UL.menu 
{ min-height:.1%; width:175px; padding:0; }
#leftnav UL A
{ color:#333; background:#e9e9e9 url("../images/bg_caarraymenu.gif") repeat-y right; border-bottom:1px solid #fff; display:block; width:149px; min-height:.1%; padding:4px 8px 3px 18px; line-height:1.2em }
#leftnav UL A.selected
{ background:#cacaca url("../images/ico_arrow.gif") no-repeat 7px 7px }
#leftnav UL A:hover
{ background:#ccc; text-decoration:none; }
#leftnav UL A.selected:hover, #leftnav UL A.selected:focus
{ background:#ccc url("../images/ico_arrow.gif") no-repeat 7px 7px; text-decoration:none; }
#leftnav UL A:focus 
{ outline:none; background:#D1CEC4}
#leftnav LI.liheader
{ background:#5c5c5c; color:#fff; padding:3px 8px; border-bottom:1px solid #fff; }
/* Quicklinks */
#leftnav UL.quicklinks
{ min-height:.1%; width:t175px; padding:0; border:0; }
#leftnav UL.quicklinks A
{ color:#fff; background:#6f7ea4; border-top:0; border-bottom:1px solid #fff; display:block; width:149px; min-height:.1%; padding:4px 8px 3px 18px; line-height:1.2em }
#leftnav UL.quicklinks A:hover, #leftnav UL.quicklinks A:focus
{ background:#475b82;  }
#leftnav UL.quicklinks A.external
{ background-image:url("../images/ico_externalsite.gif"); background-repeat:no-repeat; background-position:5px 5px }


/* Content Area Styles */

#contentwrapper
{ float:left; width:100%; }
#content
{ margin-left:175px; border-left:1px solid #fff }
#contenthome
{ margin-left:175px; min-height:330px; border-left:1px solid #fff; border-top:0; padding:0; padding-bottom:40px  }
#content A
{ text-decoration:none }
#content A:hover
{ text-decoration:underline }
#contenthome UL
{ padding-left:10px }
#contenthome UL LI
{ background:url("../images/ico_arrow2.gif") no-repeat 0 4px; padding-left:8px; padding-bottom:10px }
.intro
{ font-size:120%; padding-right:20px; line-height:1.3em }
.small
{ font-size:92% }
.tiny
{ font-size:70% }
.clear
{ clear:both; }
#content A.external
{ background:url("../images/ico_externalsite.gif") no-repeat right; padding-right:12px }
.nowrap
{ white-space:nowrap }
.absmiddle
{ vertical-align:middle }
.centered
{ text-align:center }
.centeredsmall
{ font-size:90%; text-align:center }
.alignright
{ text-align:right; }
.line
{ border-top:1px dotted #ccc; }
.padme5
{ padding:5px; background:#fff }
.padme8
{ padding:8px; background:#fff }
.padme10
{ padding:10px; }


/* Homepage Content */

.homebanner
{ margin:0; background:#8590ab; border-bottom:1px solid #fff}
#homeinfo H1
{ font-size:120%; background:#d6d6d6; font-weight:bold; padding:0; color:#fff; border:0; }
P.intro, .homepage P
{ padding:10px; padding-bottom:0 }
.homepage UL
{ margin:10px }
#homecontentbar
{ margin:0; height:2.1em; background:#fff url("../images/bg_bar_home.gif") repeat-x; }
#homecontentwrapper
{ width:600px  }
#homeinfo
{ float:left; width:400px; }
#homeinfo H1, #homelogin H1
{ border:0; font-weight:bold; padding:4px; background:none; font-family:verdana; font-size:92%; color:#333 }
#homelogin
{ float:left; background:#8a8a8a; width:198px; padding-bottom:20px; border-left:1px solid #fff; border-right:1px solid #fff }
#homelogin H1
{ color:#fff }
#homelogin A.loginlinks
{ font-size:90%; color:#fff }


/* Right Side Bar */

#sidebar 
{	background:#e3e3e3; width:174px; float:right; min-height:400px }
#sidebar H1
{ border-top:0; background:#5c5c5c; color:#e3e6ec; padding-top:5px  }
TABLE.login
{ width:160px; height:96px; margin:0 auto }
TABLE.login TD.label
{ padding:3px; }
TABLE.login TD.value
{ padding:3px; }
#sidebar P
{  }


/* The Box */

.box
{ width:95%; float:left; padding:0; background:#fff; min-width:600px }
.box H2
{ color:#496DA5; font-size:125%; font-weight:bold; padding:0 0 10px 0; margin-bottom:0 }


/* Breadcrumb */

#breadcrumb
{ background:#999; height:15px; padding:2px 3px 3px 6px; min-width:0; }
#breadcrumb A
{ color:#000; font-size:92%; }
#breadcrumb A.selected
{ color:#fff; font-weight:bold }
#breadcrumb SPAN
{ color:#f4c451 }


/* Tabbed Navigation (NEW) */

#tabbed 
{	float:left; padding-left:10px; font-size:92%; font-weight:bold; }
#tabbed LI
{	margin:0 5px 0 0; padding:0 5px 0 0; background:url("../images/bg_tabs.gif") 100% -100px;	float:left;	text-align:center; }
#tabbed LI.active
{ background:url("../images/bg_tabs.gif") 100% 0; }
#tabbed LI A, #tabbed LI A:visited, #tabbed LI SPAN 
{	display:block; float:left; padding:5px 11px 5px 16px; text-align:center; white-space:nowrap; background:url("../images/bg_tabs.gif") 0 -100px;
	text-decoration:none;	min-height:17px; /* fixes FX/Mac issue */	color:#146392; }
#tabbed>LI A, #tabbed>LI A:visited, #tabbed>LI SPAN
{ padding:7px 11px 3px 16px; }
#tabbed LI.active A, #tabbed LI.active SPAN
{	color:#333; background:url("../images/bg_tabs.gif") 0 0; }
#tabbed LI:hover
{	background-position:100% -200px;}
#tabbed LI:hover A
{	background-position:0 -200px; }
#tabbed LI.active:hover
{	background-position:100% 0;}
#tabbed LI.active:hover A
{	background-position:0 0; text-decoration:none; }
#tabbed LI A:hover
{text-decoration:none; }


/* The Selected Tab Box */

.selectedtabbox
{ margin-top:25px; padding:5px; border-top:0; background:#9fb4d2 }
.box>.selectedtabbox
{ margin-top:27px; }
.selectedtabbox>TABLE
{ width:95%; margin:10px; }
.selectedtabbox TABLE
{ margin:10px }
.selectedtabbox TABLE TD
{ padding:4px; font-size:92% }
#boxinner
{ background:#fff url("../images/bg_fade.gif") repeat-x 0 0; }
#boxinner H3
{ background:#475b82; color:#BDD4F9; font-size:125%; padding:5px 6px 5px 10px; border-bottom:2px solid #425172; height:1.3em; min-height:.1% }


/* Toolbar and Action Buttons */

.toolbar
{ padding:5px; min-height:.1%; }
.toolbar A
{ text-decoration:none; font-weight:bold; font-size:92%; color:#333; display:block; float:left; padding:3px 10px 3px 15px; border-right:1px solid #BDD4F9; height:1.5em }
#content .toolbar A:hover
{ text-decoration:none; background:#eef3fa }
A.search
{ background:url("../images/ico_search.gif") no-repeat 6px 3px; padding-left:22px }
#content A.search:hover
{ background:#eef3fa url("../images/ico_search.gif") no-repeat 6px 3px; padding-left:22px }
A.add
{ background:url("../images/ico_add.gif") no-repeat 6px 3px; padding-left:22px }
#content A.add:hover
{ background:#eef3fa url("../images/ico_add.gif") no-repeat 6px 3px; padding-left:22px }
A.import
{ background:url("../images/ico_import.gif") no-repeat 6px 3px; padding-left:22px }
#content A.import:hover
{ background:#eef3fa url("../images/ico_import.gif") no-repeat 6px 3px; padding-left:22px }
.actions
{ text-align:center; border-top:2px solid #dcdcdc; background:#d7e4f9; padding:5px; height:1.3em; color:#ccc }
A.edit
{ background:url("../images/ico_edit.gif") no-repeat; padding-left:19px }
A.save
{ margin:0 auto; display:block; width:5.5em; height:16px; background:url("../images/ico_save.gif") no-repeat; }
A.cancel
{ float:left; display:block; width:6.5em; height:16px; background:url("../images/ico_cancel.gif") no-repeat; }
SPAN.bar
{ padding:0 3px }
.addrun
{ font-size:92%; font-weight:bold; float:right; margin-top:-2.2em; width:16em }
#content .addrun A.add
{ color:#fff; display:block; height:1.4em; padding:3px 3px 3px 22px }
#content .addrun A.add:hover
{ color:#333; text-decoration:none }
.displaycount
{ padding-left:10px; font-size:80%; font-weight:normal; color:#fff }


/* Dashboard */

.floatbox
{ width:45%; margin-right:1%; padding:5px; float:left; background:#d7e4f9 }
.floatbox H2
{ color:#496DA5; font-size:160%; font-weight:normal; padding:3px 5px 5px 5px; border-bottom:2px solid #eef3fa; margin-bottom:0 }
.floatbox TABLE.searchresults 
{ margin-top:5px }
.floatbox TABLE.searchresults TH
{ background:#496DA5; color:#BDD4F9; font-size:125%; padding:4px }
.floatbox TABLE.searchresults TD
{ font-size:110%; padding:6px }


/* Search Results and Alternating Table Rows Tables */

TABLE.searchresults
{ border-collapse:separate; width:99.9%; clear:both; background:#fff; }
.selectedtabbox TABLE.searchresults
{ margin:0 }
TABLE.searchresults TH
{ padding:4px 5px; border-top:1px solid #eef3fa; border-bottom:1px solid #808080; background:#8a8a8a; color:#fff }
TABLE.searchresults TH A
{ color:#fff }
TABLE.searchresults TR.odd
{ background:#f0f0f0 }
TABLE.searchresults TD
{ padding:5px; border-bottom:2px solid #BDD4F9 }
.selectedtabbox TABLE.searchresults TD
{ border-bottom:1px solid #ccc } 
TABLE.searchresults TD.title
{ font-weight:bold; }
.selectedtabbox TABLE.searchresults TD UL
{ margin:0; padding:0 }
.selectedtabbox TABLE.searchresults TD LI
{ margin:0; padding:0 0 5px 0; line-height:1.1em }


/* Forms */

TABLE.form
{ width:95%; margin:10px auto; }
TABLE.form TD
{ padding:4px !important }
TABLE.form2
{ width:200px; margin:0 auto 10px auto; }
TABLE.form3
{ width:300px; margin:10px auto; }
:lang(en) TABLE.form2
{ width:90%; margin:10px auto; }
TABLE.form2 TD, TABLE.form3 TD
{ padding:3px 0; }

.label
{ width:30%; text-align:right; font-weight:bold; }
.label_left
{ text-align:left; font-weight:bold; }
.label_left P, .label_left SPAN.normal
{ font-weight:normal; margin:0; padding:0; line-height:1.4em }
.form2 .label_left INPUT, .form2 .label_left TEXTAREA, .form2 .label_left SELECT
{ font-weight:normal; width:200px }
.form3 .label_left INPUT, .form3 .label_left TEXTAREA, .form3 .label_left SELECT
{ font-weight:normal; width:250px }
:lang(en) .form2 .label_left INPUT, :lang(en) .form2 .label_left TEXTAREA, :lang(en) .form2 .label_left SELECT
{ width:100%; }
:lang(en) .form3 .label_left INPUT, :lang(en) .form3 .label_left TEXTAREA, :lang(en) .form3 .label_left SELECT
{ width:99%; }
.label_left TEXTAREA
{ height:35px }
.label LABEL
{ font-size:12px }
FIELDSET.date
{ width:89% }
FIELDSET.leftfield
{ width:42% !important; float:left !important;}
FIELDSET.rightfield
{ width:41% !important; float:left !important; margin-left:5px !important }

FIELDSET.leftfield_wide
{ width:66% !important; padding:0 !important; float:left !important;}
FIELDSET.rightfield_thin
{ width:26% !important; padding:0 !important;  float:left !important; margin-left:5px !important }
FIELDSET.leftfield_wide LEGEND, FIELDSET.rightfield_thin LEGEND
{ padding:0 10px }
.centerfield
{ margin:0 auto; width:91%; }
.value INPUT, .value SELECT, .value TEXTAREA
{ display:block;  }
TD.space
{ padding:0 }
TD.value
{ padding-left:0px; }
TD.title
{ font-weight:bold }
.value TEXTAREA
{ }
.pad10
{ padding:10px }
.value .line
{ margin:5px }
.pad10 .line
{ margin:10px;  }

.hidethis
{ background:url("../images/ico_hidehidden.gif") no-repeat; padding-left:18px; }
.replace
{ background:url("../images/ico_displayhidden.gif") no-repeat; padding-left:18px; }
.calendaricon
{ vertical-align:middle; padding-left:5px; }


/* Confirmation or Error Messages */

.confirm_msg
{ background:#fff3ad; border:1px solid #d89723; padding:15px; margin-bottom:15px;  }
.error_msg
{ background:#fff; color:#c00; border:1px solid #c00; padding:15px; margin-bottom:15px; }
.error_msg LABEL
{ font-size:100%; color:#c00; text-decoration:underline }


/* Inline Error Messages */

.formErrorMsg
{ clear:both; font-size:100%; color:#c00; font-style:italic; display:block; }


/* Footer */

#footerwrapper
{ clear:left; font-size:85%; font-weight:bold; }
#footernav
{ padding-left:175px; background:#5c5c5c; height:2.0em; overflow:hidden; border-top:1px solid #cacaca; border-bottom:1px solid #cacaca }
#footernav A
{ display:block; float:left; color:#fff; padding:0 10px; line-height:2.0em; border-left:1px dotted #fff }
#footernav A:hover
{ background:#333; text-decoration:none; }
#footernav A.last
{ border-right:1px dotted #fff }
#partnerlogos
{ padding-top:10px; text-align:center; }


/* New Home */

P.homeintro
{ width:80% }
.home_buttons
{ width:80%; height:9em; border:1px solid #ccc; background:#fbfbfb url("../images/bg_panel_gray.gif") repeat-x bottom }
#btn_home_create, #btn_home_search
{ display:block; margin:10px 10px 5px 10px; padding:0 0 10px 0; width:221px; font-weight:bold; float:left; background:url("../images/bg_btn_home_bottom.gif") no-repeat 1px bottom;  }
.home_buttons A
{ display:block; font-size:100%; color:#565656 }
.home_buttons A:hover
{ color:#000; text-decoration:none !important }
#btn_home_create #btn_home_create_t
{ background:url("../images/bg_btn_create_top.gif") no-repeat top; width:166px;  padding:18px 20px 10px 37px; }
#btn_home_search #btn_home_search_t
{ background:url("../images/bg_btn_search_top.gif") no-repeat top; width:166px;  padding:18px 20px 10px 37px; }

.myexperiments
{ margin-top:15px; width:80%; border:1px solid #ccc; border-bottom:0; }


/*New Data and Search Tables */

TABLE.newdata
{ width:100%; font-size:92%; background:#fff; }
TABLE.newdata TH
{ border-top:1px solid #6f7ea4; background:#54668a url("../images/bg_header_blue.gif") repeat-x top; padding:3px 7px; color:#fff; } 
TABLE .action
{ text-align:center; width:4.1em; }
TABLE.newdata TD
{ padding:7px; border-bottom:1px solid #ccc;  }
TABLE.newdata TR.hilite, .hilite
{ font-weight:bold; background:#ffffcf url("../images/bg_row_hilite.gif") repeat-x top }
TABLE.newdata TD A
{ text-decoration:underline !important }
 

.filterbox, .fadebox
{ width:99%; border:1px solid #999; background:#fbfbfb url("../images/bg_panel_gray.gif") repeat-x bottom }
.searchresults
{ margin-top:10px; width:99%; border:1px solid #ccc; }
.datatable
{ margin-top:5px; width:99%; }
TABLE.newdata2, TABLE.newdata3, TABLE.newdata4
{ width:100%; font-size:92%; background:#fff; }
TABLE.newdata2 TH
{ border-top:1px solid #6f7ea4; background:#54668a url("../images/bg_header_blue.gif") repeat-x top; padding:3px 7px; color:#fff; }
TABLE.newdata3 TH
{ border-top:1px solid #6f7ea4; background:#54668a url("../images/bg_header_blue.gif") repeat-x top; padding:3px 7px; color:#fff; }  
TABLE.newdata4 TH
{ border-top:1px solid #6f7ea4; background:#000 url("../images/bg_header_black.gif") repeat-x top; padding:3px 7px; color:#fff; }
TABLE .actionwide
{ text-align:center; width:160px; }
TABLE.newdata2 TD
{ border-top:1px solid #ccc }
TABLE.newdata2 TD, TABLE.newdata3 TD, TABLE.newdata4 TD
{ padding:5px;  }
TABLE.newdata3 TD, TABLE.newdata4 TD
{ border-bottom:1px solid #ccc }
TABLE.newdata2 TD TD
{ border:0; }
TABLE.newdata2 TR.hilite, TABLE.newdata3 TR.hilite
{ font-weight:bold; background:#ffffcf url("../images/bg_row_hilite.gif") repeat-x top }
TABLE.newdata2 TD A
{ text-decoration:underline !important }
TABLE.newdata2 TD DEL A, TABLE.newdata2 TD DEL A:hover
{ text-decoration:none !important  }
TABLE.newdata2 TD.title
{ font-weight:bold; }


/* Centered Buttons at the Bottom */

.actionsrow
{ text-align:center; border-top:1px dotted #999; padding:5px 0 }
#btnrow, #btnrow2 
{ display:table; padding:0; margin:0 auto; list-style-type:none; white-space:nowrap; }
#btnrow LI,#btnrow2 LI 
{ display:table-cell; }
.btnwrapper { clear:both; text-decoration:none; }
* #btnrow LI,* #btnrow2 LI { float:left; }
HTML>BODY #btnrow LI,HTML>BODY #btnrow2 LI{ *float:left }
* #btnrow A,* #btnrow2 A  { float:left; }
HTML>BODY #btnrow A, HTML>BODY #btnrow2 A { *float:left }
* .btnwrapper  {display:inline-block;  }
HTML>BODY .container { *display:inline-block; }



/* NEW Sliding Door Buttons */

A.btn 
{ width:auto; background:transparent url("../images/bg_btn_right.gif") no-repeat scroll top right; color:#414141; display:block; float:left; font:normal 12px arial, sans-serif; height:24px; line-height:24px; margin:0 10px; padding-right:9px; /* sliding doors padding */ text-decoration:none; }
.actionsthin A.btn
{ margin:0 10px }
A.btn SPAN.btn_img 
{ background:transparent url("../images/bg_btn_left.gif") no-repeat; display:block; line-height:17px; padding:4px 0 3px 9px; }
A.btn:hover
{ background-position:center right; text-decoration:none !important; }
A.btn:hover SPAN.btn_img 
{ background:transparent url("../images/bg_btn_left.gif") no-repeat 0 -29px; display:block; line-height:17px; padding:4px 0 3px 9px; }
A.btn:active 
{ background-position:bottom right; color:#000; outline:none; /* hide dotted outline in Firefox */ }
A.btn:active SPAN.btn_img 
{ background-position:bottom left; padding:5px 0 2px 9px; /* push text down 1px */ }
A.btn SPAN SPAN
{ display:block; padding:0 0 0 20px }
A.btn SPAN.add
{ background:url("../images/ico_add.gif") no-repeat; }
A.btn SPAN.add_folder
{ background:url("../images/ico_add_folder.gif") no-repeat; }
A.btn SPAN.add_input
{ background:url("../images/ico_add_input.gif") no-repeat; }
A.btn SPAN.add_output
{ background:url("../images/ico_add_output.gif") no-repeat; }
A.btn SPAN.addrow
{ background:url("../images/ico_rowadd.gif") no-repeat; }
A.btn SPAN.associate
{ background:url("../images/ico_associate.gif") no-repeat; }
A.btn SPAN.cancel
{ background:url("../images/ico_cancel2.gif") no-repeat; }
A.btn SPAN.check
{ background:url("../images/ico_check.gif") no-repeat; }
A.btn SPAN.copy
{ background:url("../images/ico_copy.gif") no-repeat; }
A.btn SPAN.delete
{ background:url("../images/ico_delete.gif") no-repeat; }
A.btn SPAN.edit
{ background:url("../images/ico_edit.gif") no-repeat; }
A.btn SPAN.filter
{ background:url("../images/ico_filter.gif") no-repeat; }
A.btn SPAN.import
{ background:url("../images/ico_import.gif") no-repeat; }
A.btn SPAN.launch_download
{ background:url("../images/ico_launch_download.gif") no-repeat; }
A.btn SPAN.login
{ background:url("../images/ico_login.gif") no-repeat; }
A.btn SPAN.manage_associations
{ background:url("../images/ico_manage_associations.gif") no-repeat; }
A.btn SPAN.register
{ background:url("../images/ico_register.gif") no-repeat; }
A.btn SPAN.save
{ background:url("../images/ico_save.gif") no-repeat; }
A.btn SPAN.saveback
{ background:url("../images/ico_saveback.gif") no-repeat; }
A.btn SPAN.saveconfirm
{ background:url("../images/ico_saveconfirm.gif") no-repeat; }
A.btn SPAN.saverepeat
{ background:url("../images/ico_saverepeat.gif") no-repeat; }
A.btn SPAN.search
{ background:url("../images/ico_search.gif") no-repeat; }
A.btn SPAN.submit_experiment
{ background:url("../images/ico_submit_experiment.gif") no-repeat; }
A.btn SPAN.validate
{ background:url("../images/ico_validate.gif") no-repeat; }


.addlink, .addlink_notabs, .addlink_notabs_filterrow
{ float:right; margin-top:-2.8em; }
.boxpad2 .addlink, .boxpad2 .addlink_notabs
{ margin-top:-2.4em; }
.addlink_notabs_filterrow
{  margin:-3.1em 5px 5px 0;}
:lang(en) .addlink_notabs_filterrow
{  margin:-3.1em 0 5px 0;} 
.addlink_notabs
{ margin:0 0 5px 0; }
.addlink A.btn, .addlink_notabs A.btn, .addlink_notabs_filterrow A.btn
{ margin-right:0 }

.addicon
{ padding:2px 0 2px 17px; background:url("../images/ico_add.gif") no-repeat; }
.cancel2
{ font-size:95%; color:#666; margin:5px; padding:1px 0 0 18px; float:left; display:block; width:10em; height:16px; background:url("../images/ico_cancel2.gif") no-repeat; }
.cancel3
{ font-size:95%; color:#666; margin:5px; padding:1px 0 0 18px; float:left; display:block; width:14em; height:16px; background:url("../images/ico_cancel2.gif") no-repeat; }


/* Paging */

.paging
{ color:#999; font-size:92%; padding:5px; text-align:right }
.pagecontrol
{ padding:7px; height:1.6em; background:#fbfbfb url("../images/bg_panel_gray.gif") repeat-x bottom }
.pagecontrol .paging, .pagecontrol P.small, .pagecontrol P.count
{ width:48.5%; margin:0; padding:0 }
.pagecontrol P.small, .pagecontrol P.count
{ float:left }
.pagecontrol .paging
{ float:right }


/* Process Flow */

#processflow
{ clear:both; margin-bottom:10px; cursor:default; }
#processflow DIV.step, #processflow DIV.selectedstep
{ width:150px; float:left; margin-right:10px; color:#999; padding:10px; border:1px dotted #999; }
#processflow .arrow
{ float:left; padding:14px 5px 0 5px; margin-right:10px; }
#processflow DIV.selectedstep
{ font-weight:bold; color:#fff; border:1px solid #999; background:#54668a url("../images/bg_header_blue.gif") repeat-x top;  }
.info
{ padding:10px; background:#ffffcf url("../images/bg_row_hilite.gif") repeat-x top; border-bottom:1px solid #ccc }
.info P
{ background:url("../images/ico_info.gif") no-repeat 0 1px; padding:0 0 0 18px }
.or
{ font-weight:bold; font-size:130%; text-align:center; border-top:1px dotted #ccc }
.or P
{ text-align:center; width:50px; background:#333; padding:3px; color:#fff; margin:-14px auto 0 auto }
.fadebox H3
{ padding-bottom:10px }
:lang(en) H3
{ padding-bottom:0 }
.fadebox H3 .gt
{ color:#fc0 }
.fadebox H3 .selected
{ color:#000 }

#protocolflow
{ font-size:95%; clear:both; margin:5px 15px; padding:7px; cursor:default; border:1px solid #ccc;  background:#fbfbfb url("../images/bg_panel_gray.gif") repeat-x bottom }
#protocolflow_OLD A
{ background:url("../images/processarrow.gif") no-repeat right .2em; padding-right:35px; margin-left:5px}
#protocolflow_OLD A.last
{ background:0 }
#protocolflow A
{ padding:0 5px}

/* Tree */

UL.tree LI
{ font-size:11px; padding:5px 0 5px 10px }
UL.tree LI LI
{ font-size:11px; padding-left:20px }
UL.tree LI TH, UL.tree LI TD
{ font-size:11px }
UL.tree LI FIELDSET DIV.hidden
{ margin-top:11px !important }
UL.tree LI .hidden
{ margin:0 }
UL.tree LEGEND
{ font-size:14px; margin-top:1px }


/* New for Krishna */

TABLE.newdata3 th.order1 a
{background: url(../images/arrow_down.gif) no-repeat right; padding-right:16px; }
TABLE.newdata3 th.order2 a
{background: url(../images/arrow_up.gif) no-repeat right; padding-right:16px; }
TABLE.newdata3 TD
{ border-bottom:1px solid #ccc; }
TABLE.newdata3 TR.odd
{ background:#eff2fa }
TABLE.newdata3 TR.even
{ background:transparent }
TABLE.newdata3 tr.over, TABLE.newdata3 tr:hover
{background:#ffffcf url("../images/bg_row_hilite.gif") repeat-x top; cursor:pointer }
TABLE.newdata3 TH A
{color: #fff; text-decoration:underline !important;}



/* 03/03/2008 */

.calcol
{ width:30px; float:left; }
.datecol
{ width:75px; float:left; }
.calcol A
{ display:block; margin-left:5px; margin-top:-3px }