/* Edit view */

#editview
{ width:99% }
#editview H2
{ background:#f3f3f3 url("../images/bg_graybar.gif") repeat-x; font-size:95%; color:#333; padding:4px; border:1px solid #ccc }


/* Columns */

#treecol
{ width:23%; float:left; min-height:350px }
#treecol H2
{ border-right:0 }
#detailcol
{ width:76%; float:left; min-height:350px; border-left:1px solid #999;  }
#detailcol H2
{ border-left:0 }


/* List */

#editview UL
{ padding:0; margin:0 0 0 16px; }
#editview UL LI
{ padding:0 }
UL#treeview LI SPAN
{ display:block; background:#fff; border:1px solid #fff; }
UL#treeview LI SPAN.selected
{ display:block; background:#c5cfe5 url("../images/bg_treehilite.gif") repeat-x; border:1px solid #bdc6de;  }
UL#treeview LI SPAN:hover
{ background:#e2e7f2 url("../images/bg_treehover.gif") repeat-x; border:1px solid #e2e7f2; }
UL#treeview
{ margin:7px }
UL#treeview A
{ padding:1px 2px; color:#333; display:block; padding-left:20px; }
UL#treeview LI A:hover
{ text-decoration:none }
UL#treeview LI A.experiment
{ background:url("../images/ico_experiment.gif") no-repeat 0 0;  }
UL#treeview LI A.experimentrun
{ background:url("../images/ico_experiment_run.gif") no-repeat 0 0;  }
UL#treeview LI A.protocol
{ background:url("../images/ico_protocol.gif") no-repeat 0 0;  }
UL#treeview LI A.input
{ background:url("../images/ico_input.gif") no-repeat 0 1px;  }
UL#treeview LI A.output
{ background:url("../images/ico_output.gif") no-repeat 0 1px;  }


/* Details */

.detailbox
{ margin:7px; padding:0; width:98%; border:1px solid #999; background:#fbfbfb url("../images/bg_panel_gray.gif") repeat-x bottom }
.detailbox H3
{ font-family:arial,helvetica,sans-serif; line-height:1.2em; margin:0; font-size:100%; color:#333; padding:5px; font-weight:bold; background:#c5cfe5 url("../images/bg_treehilite.gif") repeat-x; border-bottom:1px solid #999  }
.detailbox .calcol
{ width:30px; float:left; }
.detailbox .datecol
{ width:75px; float:left; }
.detailbox .calcol A
{ display:block; margin-left:5px; margin-top:-3px }
.detailbox .searchresults
{ margin:10px auto; width:96%; }
.detailbox FIELDSET
{ margin:10px }
.detailbox LEGEND
{ font-size:110% }


/* Centered Buttons at the Bottom */

.detailbox .actionsrow
{ text-align:center; border-top:1px dotted #999; padding:5px 0 }
.detailbox #btnrow, .detailbox #btnrow2
{ display:table; padding:0; margin:0 auto; list-style-type:none; white-space:nowrap; }
.detailbox #btnrow LI, .detailbox #btnrow2 LI
{ display:table-cell; }
.detailbox .btnwrapper { clear:both; text-decoration:none; }
* #btnrow LI,* #btnrow2 LI { float:left; }
HTML>BODY .detailbox #btnrow LI,HTML>BODY .detailbox #btnrow2 LI{ *float:left }
* #btnrow A,* #btnrow2 A  { float:left; }
HTML>BODY .detailbox #btnrow A, HTML>BODY .detailbox #btnrow2 A { *float:left }
* .detailbox .btnwrapper  {display:inline-block;  }
HTML>BODY .detailbox .container { *display:inline-block; }