<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <tx:annotation-driven transaction-manager="txManager" />

    <bean id="protocolService" class="gov.nih.nci.protexpress.service.impl.ProtocolServiceImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>

    <bean id="experimentService" class="gov.nih.nci.protexpress.service.impl.ExperimentServiceImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>

    <bean id="protExpressService" class="gov.nih.nci.protexpress.service.impl.ProtExpressServiceImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>

    <bean id="registrationService" class="gov.nih.nci.protexpress.service.impl.RegistratationServiceImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>

    <bean id="genericDataService" class="gov.nih.nci.protexpress.service.impl.GenericDataServiceImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>
    
    
    <bean id="protExpressRegistry" class="gov.nih.nci.protexpress.ProtExpressRegistry" scope="singleton"
        factory-method="getInstance">
        <property name="protocolService">
            <ref bean="protocolService" />
        </property>
        <property name="experimentService">
            <ref bean="experimentService" />
        </property>
        <property name="protExpressService">
            <ref bean="protExpressService" />
        </property>
        <property name="registrationService">
            <ref bean="registrationService" />
        </property>
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
        <property name="genericDataService">
            <ref bean="genericDataService" />
        </property>
    </bean>
</beans>