<profilesXml>
    <profiles>
        <profile>
            <id>local</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                 <tomcat.manager.url>http://localhost:8081/manager</tomcat.manager.url>
            </properties>
        </profile>
    </profiles>
</profilesXml>