<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="gov.nih.nci.protexpress.domain.contact.ContactPerson" />
        <mapping class="gov.nih.nci.protexpress.domain.experiment.Experiment" />
        <mapping class="gov.nih.nci.protexpress.domain.experiment.ExperimentRun" />
        <mapping class="gov.nih.nci.protexpress.domain.protocol.InputOutputObject" />
        <mapping class="gov.nih.nci.protexpress.domain.protocol.Protocol" />
        <mapping class="gov.nih.nci.protexpress.domain.protocol.ProtocolApplication" />
        <mapping class="gov.nih.nci.protexpress.domain.register.RegistrationRequest" />
        <mapping class="gov.nih.nci.protexpress.domain.register.State" />
        <mapping class="gov.nih.nci.protexpress.domain.register.Country" />
    </session-factory>
</hibernate-configuration>