<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="gov.nih.nci.protexpress.data.persistent.DataObject" />
        <mapping class="gov.nih.nci.protexpress.data.persistent.Experiment" />
        <mapping class="gov.nih.nci.protexpress.data.persistent.ExperimentRun" />
        <mapping class="gov.nih.nci.protexpress.data.persistent.MaterialObject" />
        <mapping class="gov.nih.nci.protexpress.data.persistent.Person" />
        <mapping class="gov.nih.nci.protexpress.data.persistent.Protocol" />
        <mapping class="gov.nih.nci.protexpress.data.persistent.ProtocolApplication" />
        <mapping class="gov.nih.nci.protexpress.data.persistent.ProtocolParameters" />
        <mapping class="gov.nih.nci.protexpress.data.persistent.SimpleTypeValue" />
    </session-factory>
</hibernate-configuration>