<profilesXml>
    <profiles>
        <profile>
            <id>local</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <tomcat.home>C:/dev/app_servers/tomcat/apache-tomcat-5.5.23</tomcat.home>
            </properties>
        </profile>
    </profiles>
</profilesXml>