<profilesXml>
    <profiles>
        <profile>
            <id>local</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                 <jdbc.password>postgres</jdbc.password>
            </properties>
        </profile>
    </profiles>
</profilesXml>