<STYLE>
.body
{
    COLOR: #000;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 8.5pt;
    LINE-HEIGHT: 1.3em
}
.contentbody
{
    BACKGROUND-COLOR:  #B0C4DE;
    BACKGROUND-IMAGE: ;
    COLOR: #000;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 8.5pt;
    LINE-HEIGHT: 1.3em
}
.navbody
{
    BACKGROUND-COLOR: #dcdcdc;
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    COLOR: #000;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 8.5pt;
    LINE-HEIGHT: 1.3em
}
.btn
{
    BACKGROUND-COLOR: #006563;
    BORDER-BOTTOM: #000000 2px solid;
    BORDER-LEFT: #7b9e9c 2px solid;
    BORDER-RIGHT: #006563 2px solid;
    BORDER-TOP: #7b9e9c 2px solid;
    COLOR: #ffffff;
    CURSOR: hand;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 7pt;
    FONT-WEIGHT: bold
}
.datatable
{
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-RIGHT: #525252 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 6px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    PADDING-TOP: 6px;
    TABLE-LAYOUT: fixed;
    WIDTH: 145px
}
.datatable2
{
    BACKGROUND-COLOR: #f8e6c8;
    BACKGROUND-IMAGE: url("../images/background_rose2.gif");
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-RIGHT: #525252 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 6px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    PADDING-TOP: 6px;
    TABLE-LAYOUT: fixed;
    WIDTH: 100%
}
.datatable3
{
    BACKGROUND-COLOR: #f8e6c8;
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-RIGHT: #525252 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    WIDTH: 100%
}
.tabtable
{
    BACKGROUND-COLOR: #f8e6c8;
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-RIGHT: #525252 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 6px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    PADDING-TOP: 6px;
    TABLE-LAYOUT: fixed;
    WIDTH: 100%
}
.directions
{
    BORDER-BOTTOM: #525252 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-RIGHT: #525252 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 7.5pt;
    LINE-HEIGHT: 1.1em;
    PADDING-LEFT: 6px;
    PADDING-TOP: 6px;
    TEXT-DECORATION: none
}
.helptext
{
    BORDER-BOTTOM: #525252 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-RIGHT: #525252 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 7.5pt;
    LINE-HEIGHT: 1.1em;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    PADDING-TOP: 6px;
    TEXT-DECORATION: none
}
.nav_bot
{
    BACKGROUND-COLOR: #7b9e9c;
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt;
    HEIGHT: 20px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    WIDTH: 100%
}
.nav_top
{
    BACKGROUND-COLOR: #7b9e9c;
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt;
    HEIGHT: 20px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    WIDTH: 100%
}
.calendar
{
    BEHAVIOR: url("../journeymaker/includes/calendar.htc")
}
.calendarL2
{
    BEHAVIOR: url("../includes/calendar.htc")
}
.JourneyTree
{
    FONT-FAMILY: tahoma, verdana, arial;
    FONT-SIZE: 8pt
}
.divLink
{
    BACKGROUND-COLOR: #006563;
    BORDER-BOTTOM: #000000 2px solid;
    BORDER-LEFT: #7b9e9c 2px solid;
    BORDER-RIGHT: #006563 2px solid;
    BORDER-TOP: #7b9e9c 2px solid;
    COLOR: #ffffff;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 7pt;
    FONT-WEIGHT: bold;
    HEIGHT: 16px;
    PADDING-RIGHT: 3px;
    TEXT-DECORATION: none;
    WIDTH: 138px
}
.divOver
{
    BACKGROUND-COLOR: #006563;
    BORDER-BOTTOM: #000000 2px solid;
    BORDER-LEFT: #7b9e9c 2px solid;
    BORDER-RIGHT: #006563 2px solid;
    BORDER-TOP: #7b9e9c 2px solid;
    COLOR: #ffffff;
    CURSOR: hand;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 7pt;
    FONT-WEIGHT: bold;
    HEIGHT: 16px;
    PADDING-RIGHT: 3px;
    TEXT-DECORATION: none;
    WIDTH: 138px
}
.divDown
{
    BACKGROUND-COLOR: #006563;
    BORDER-BOTTOM: #7b9e9c 2px solid;
    BORDER-LEFT: #006563 2px solid;
    BORDER-RIGHT: #7b9e9c 2px solid;
    BORDER-TOP: #000000 2px solid;
    COLOR: #ffffff;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 7pt;
    FONT-WEIGHT: bold;
    HEIGHT: 16px;
    PADDING-RIGHT: 3px;
    TEXT-DECORATION: none;
    WIDTH: 138px
}
.headline
{
    COLOR: #000000;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold
}
.headline2
{
    BORDER-BOTTOM-WIDTH: 2px;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 8.5pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.supsmall
{
    COLOR: #000000;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 7pt;
    LINE-HEIGHT: 1.1em
}
.tdclick
{
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 8.5pt;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 1.2em;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.tdOver
{
    BACKGROUND-COLOR: #dcdcdc;
    BORDER-BOTTOM: #525252 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-RIGHT: #525252 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    COLOR: white;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8.5pt;
    FONT-WEIGHT: bold;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    TEXT-ALIGN: center
}
.toptd
{
    BACKGROUND-COLOR: #7b9e9c;
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: 1px solid;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8.5pt;
    FONT-WEIGHT: bold;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    TEXT-ALIGN: center
}
.tdDown
{
    BACKGROUND-COLOR: #006563;
    BORDER-BOTTOM: 1px inset;
    BORDER-LEFT: 1px inset;
    BORDER-RIGHT: 1px inset;
    BORDER-TOP: #ffffff 1px inset;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8.5pt;
    FONT-WEIGHT: bold;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    TEXT-ALIGN: center
}
.tdDown2
{
    BACKGROUND-COLOR: #7b9e9c;
    BORDER-BOTTOM: 1px inset;
    BORDER-LEFT: 1px inset;
    BORDER-RIGHT: 1px inset;
    BORDER-TOP: #ffffff 1px inset;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px
}
.TopSpace
{
    BACKGROUND-COLOR: #006563;
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #7b9e9c 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #7b9e9c 1px solid
}
.td
{
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8.5pt;
    HEIGHT: 22px
}
.td2
{
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8.5pt;
    FONT-WEIGHT: bold;
    HEIGHT: 30px;
    TEXT-ALIGN: right
}
.td3
{
    BACKGROUND-COLOR: #7b9e9c;
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8.5pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: center
}
.td4
{
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8.5pt;
    HEIGHT: 30px;
    TEXT-ALIGN: left
}
.td5
{
    BACKGROUND-COLOR: #7b9e9c;
    BORDER-BOTTOM: gray 2px;
    BORDER-LEFT: gray 2px;
    BORDER-RIGHT: gray 2px;
    BORDER-TOP: gray 2px;
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt;
    HEIGHT: 5px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: center
}
.td6
{
    COLOR: #000099;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8.5pt;
    FONT-WEIGHT: bolder;
    TEXT-ALIGN: left
}
.td7
{
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8.5pt;
    FONT-WEIGHT: bold;
    HEIGHT: 30px;
    TEXT-ALIGN: right
}
.td8
{
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8.5pt;
    FONT-WEIGHT: bold;
    HEIGHT: 30px;
    TEXT-ALIGN: center
}
.td9
{
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 7.5pt;
    FONT-WEIGHT: bold;
    HEIGHT: 30px;
    TEXT-ALIGN: center
}
.audit1
{
    BACKGROUND-COLOR: #cccccc;
    BORDER-BOTTOM: #525252 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-RIGHT: #525252 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8.5pt;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    PADDING-TOP: 3px;
    TEXT-ALIGN: center
}
.audita
{
    BACKGROUND-COLOR: #dcdcdc;
    BORDER-BOTTOM: #525252 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    COLOR: #006563;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 3px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    PADDING-TOP: 3px;
    VERTICAL-ALIGN: top
}
.auditb
{
    BACKGROUND-COLOR: #dcdcdc;
    BORDER-BOTTOM: #525252 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    COLOR: #006563;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 3px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    PADDING-TOP: 3px;
    VERTICAL-ALIGN: top
}
.auditc
{
    BACKGROUND-COLOR: #dcdcdc;
    BORDER-BOTTOM: #525252 1px solid;
    BORDER-RIGHT: #525252 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    COLOR: #006563;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 3px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    PADDING-TOP: 3px;
    VERTICAL-ALIGN: top
}
A
{
    BORDER-BOTTOM-WIDTH: 2px;
    COLOR: #21696b;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 8.5pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.CloneAElement
{
    BORDER-BOTTOM-WIDTH: 2px;
    COLOR: #21696b;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 8.5pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
    WIDTH: 100%
}
.OverCloneAElement
{
    BORDER-BOTTOM-WIDTH: 2px;
    COLOR: red;
    CURSOR: hand;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 8.5pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A:visited
{
    BORDER-BOTTOM-WIDTH: 2px;
    COLOR: #21696b;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 8.5pt;
    TEXT-DECORATION: none
}
A:active
{
    BORDER-BOTTOM-WIDTH: 2px;
    COLOR: #ffffff;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 8.5pt;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: red;
    FONT-FAMILY: verdana, arial;
    FONT-SIZE: 8.5pt;
    TEXT-DECORATION: underline
}
UL
{
    LIST-STYLE: url("../journeymaker/css/images/rightarrow.gif")
}
.link
{
    COLOR: white;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8.5pt
}
.btn_create
{
    BACKGROUND-COLOR: royalblue;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 7pt;
    FONT-WEIGHT: bold
}
.custimg
{
    CURSOR: hand
}
.datatable4
{
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8.5pt;
    FONT-WEIGHT: normal;
    PADDING-BOTTOM: 6px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    PADDING-TOP: 6px
}
.printtable
{
    BACKGROUND-COLOR: white;
    BACKGROUND-IMAGE: url("../images/background_rose2.gif");
    BACKGROUND-REPEAT: no-repeat
}
.td10
{
    BORDER-BOTTOM: black 1px;
    BORDER-LEFT: black 1px;
    BORDER-RIGHT: black 1px;
    BORDER-TOP: black 1px;
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 7.5pt;
    FONT-WEIGHT: normal;
    TEXT-ALIGN: center
}
</STYLE>
