BODY
{
    MARGIN-TOP: 50px;
    MARGIN-LEFT: 35px;
    BACKGROUND-COLOR: #fdfced
}
A
{
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #32659e
}


.topbody
{
    MARGIN: 0px;
    BACKGROUND-COLOR: #fdfced
}
.topbody A:active
{
    COLOR: #8c7e36
}
.topbody A:link
{
    COLOR: #8c7e36
}
.topbody A:visited
{
    COLOR: #8c7e36
}
.topbody A:hover
{
    COLOR: #32659e;
    TEXT-DECORATION: underline
}
.toptext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BEHAVIOR: url(../HTC/showcelldetail.htc);
    VERTICAL-ALIGN: middle;
    COLOR: #32659e;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.tablestationbuttons
{
    VERTICAL-ALIGN: top
}
.tablestationbuttons TD
{
    BORDER-RIGHT: #747474 thin outset;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #cecece thin outset;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: #cecece thin outset;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: gray thin outset;
    HEIGHT: 16px;
    BACKGROUND-COLOR: #32659e
}
.stationbutton
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    COLOR: #ffffff;
    FONT-FAMILY: arial;
    TEXT-ALIGN: center
}
.stationbuttonselect
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    COLOR: #ffffff;
    FONT-FAMILY: arial;
    TEXT-ALIGN: center
}
.stationbutton A:active
{
    COLOR: #599ef4;
    TEXT-DECORATION: none
}
.stationbutton A:link
{
    COLOR: white;
    TEXT-DECORATION: none
}
.stationbutton A:visited
{
    COLOR: white;
    TEXT-DECORATION: none
}
.stationbutton A:hover
{
    COLOR: #ffff99;
    TEXT-DECORATION: none
}
.stationbuttonselect A:active
{
    COLOR: white;
    TEXT-DECORATION: none
}
.stationbuttonselect A:link
{
    COLOR: #599ef4;
    TEXT-DECORATION: none
}
.stationbuttonselect A:visited
{
    COLOR: #599ef4;
    TEXT-DECORATION: none
}
.stationbuttonselect A:hover
{
    COLOR: white;
    TEXT-DECORATION: none
}
.FormContainer
{
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    VERTICAL-ALIGN: middle;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
.form
{
    BORDER-RIGHT: #535353 thin outset;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: thin outset;
    WIDTH: 550px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: gray thin outset;
    BACKGROUND-COLOR: #e6e6e6;
    TEXT-ALIGN: left
}
.Form2
{
    BORDER-RIGHT: #ffffff thin inset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: #ffffff thin outset;
    WIDTH: 550px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #000000 thin inset;
    BACKGROUND-COLOR: #e6e6e6;
    TEXT-ALIGN: left
}
.form3
{
    BORDER-RIGHT: #535353 thin outset;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: thin outset;
    WIDTH: 500px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: gray thin outset;
    BACKGROUND-COLOR: #fdfced;
    TEXT-ALIGN: left
}
.formproduct
{
    BORDER-RIGHT: #535353 thin outset;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: thin outset;
    WIDTH: 550px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #535353 thin outset;
    BACKGROUND-COLOR: #b9cadc;
    TEXT-ALIGN: left
}
.formproduct2
{
    BORDER-RIGHT: #535353 thin outset;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: thin outset;
    WIDTH: 550px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #535353 thin outset;
    BACKGROUND-COLOR: #e6e6e6;
    TEXT-ALIGN: left
}
.formproduct3
{
    BORDER-RIGHT: thin outset;
    PADDING-RIGHT: 10px;
    BORDER-TOP: thin outset;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: thin outset;
    WIDTH: 530px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #535353 thin outset;
    BACKGROUND-COLOR: #e6e6e6;
    TEXT-ALIGN: left
}
.InfoView
{
    BORDER-RIGHT: #535353 thin outset;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: thin outset;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    BACKGROUND-COLOR: #b9cadc;
    TEXT-ALIGN: left
}
.displaytext
{
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    COLOR: #18186b;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
.displaytextvalue
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: #ffffff thin inset;
    PADDING-LEFT: 2px;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #ffffff thin inset;
    COLOR: #18186b;
    BORDER-BOTTOM: #ffffff thin inset;
    FONT-FAMILY: Arial;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #d1dbe6;
    TEXT-ALIGN: left
}
.displaytextareavalue
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: #ffffff thin inset;
    PADDING-LEFT: 2px;
    FONT-SIZE: 8.5pt;
    BORDER-LEFT: #ffffff thin inset;
    COLOR: #18186b;
    BORDER-BOTTOM: #ffffff thin inset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #d1dbe6;
}
.displaytextvaluepopup
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: #ffffff thin inset;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #ffffff thin inset;
    CURSOR: hand;
    COLOR: #18186b;
    BORDER-BOTTOM: #ffffff thin inset;
    FONT-FAMILY: Arial;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #d1dbe6;
    TEXT-ALIGN: left;
    TEXT-DECORATION: underline
}
.dropdownText
{
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #000000;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.text
{
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    COLOR: #18186b;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
.text2
{
    FONT-SIZE: 9pt;
    VERTICAL-ALIGN: middle;
    COLOR: #18186b;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
.text25
{
    FONT-SIZE: 8.5pt;
    COLOR: #18186b;
    LINE-HEIGHT: 12pt;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.text_alignleft
{
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #18186b;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.text3
{
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: middle;
    COLOR: #18186b;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
TEXTAREA
{
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    WIDTH: 300px;
    COLOR: #000000;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.InputArea
{
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    OVERFLOW: hidden;
    COLOR: #000000;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.tabs
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: bottom;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
.activetab
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    Z-INDEX: 4;
    BACKGROUND-IMAGE: url(../images/main/tab_bgrnd.jpg);
    VERTICAL-ALIGN: bottom;
    CURSOR: default;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    POSITION: absolute;
    HEIGHT: 17px;
    BACKGROUND-COLOR: #31619c;
    TEXT-ALIGN: center
}
.dormanttab
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    Z-INDEX: 2;
    BACKGROUND-IMAGE: url(../images/main/tab_bgrnddormant.jpg);
    VERTICAL-ALIGN: bottom;
    CURSOR: hand;
    COLOR: #9d9d9d;
    FONT-FAMILY: Arial;
    POSITION: absolute;
    HEIGHT: 17px;
    BACKGROUND-COLOR: #31619c;
    TEXT-ALIGN: center
}
.dormantcontent
{
    DISPLAY: none;
    Z-INDEX: 3;
    LEFT: 0px;
    POSITION: absolute;
    TOP: 0px
}
.activecontent
{
    DISPLAY: block;
    Z-INDEX: 3;
    LEFT: 0px;
    POSITION: absolute;
    TOP: 0px
}
.activeleft
{
    BACKGROUND-IMAGE: url(../images/main/tab_left.gif);
    VERTICAL-ALIGN: bottom;
    WIDTH: 9px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 17px;
    TEXT-ALIGN: right
}
.activeright
{
    BACKGROUND-IMAGE: url(../images/main/tab_right.gif);
    VERTICAL-ALIGN: bottom;
    WIDTH: 9px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 17px;
    TEXT-ALIGN: left
}
.dormantleft
{
    BACKGROUND-IMAGE: url(../images/main/tab_leftDormant.gif);
    VERTICAL-ALIGN: bottom;
    WIDTH: 12px;
    CURSOR: hand;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 17px;
    TEXT-ALIGN: right
}
.dormantright
{
    BACKGROUND-IMAGE: url(../images/main/tab_rightDormant.gif);
    VERTICAL-ALIGN: bottom;
    WIDTH: 12px;
    CURSOR: hand;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 17px;
    TEXT-ALIGN: left
}
.listpopup
{
    BORDER-RIGHT: 0px;
    TABLE-LAYOUT: auto;
    BORDER-TOP: 0px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
    TEXT-ALIGN: left
}
.listpopup A
{
    FONT-SIZE: 8pt;
    COLOR: #18186b;
    LINE-HEIGHT: 10pt;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.listpopup TD A
{
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: middle;
    COLOR: #18186b;
    LINE-HEIGHT: 10pt;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.listpopup TR
{
    BEHAVIOR: url(../htc/ListHighlight.htc);
    VERTICAL-ALIGN: middle;
    HEIGHT: 20px
}
.listpopup TR.bundle
{
}
.listpopup TR.highlight
{
    COLOR: #18186b;
    BACKGROUND-COLOR: #faf8d1;
    TEXT-DECORATION: underline
}
.listpopup TR.bundle_highlight
{
    COLOR: #18186b;
    BACKGROUND-COLOR: #faf8d1;
    TEXT-DECORATION: underline
}
.listpopup TR.package
{
    BACKGROUND-COLOR: #f0ddee
}
.listpopup TR.package_highlight
{
    COLOR: #18186b;
    BACKGROUND-COLOR: #faf8d1
}
.listpopup TD.title
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: #ffffff thin outset;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    BEHAVIOR: url(../HTC/PagingControl.htc);
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: medium none;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.2em;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #37669e;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.listpopup TH
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: thin outset;
    FONT-SIZE: 8.5pt;
    BEHAVIOR: url(../htc/PagingControl.htc);
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: gray thin outset;
    COLOR: #ffffff;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #649ccc;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.listpopup TD
{
    BORDER-RIGHT: #535353 thin outset;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 3px;
    FONT-SIZE: 8.5pt;
    BEHAVIOR: url(../htc/ListEvents.htc);
    MARGIN-LEFT: 0px;
    BORDER-LEFT: #cecece thin outset;
    CURSOR: hand;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial
}
.listpopup TD.noborder
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: 0px;
    FONT-SIZE: 8.5pt;
    BORDER-LEFT: #cecece thin outset;
    COLOR: #18186b;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
.listpopup TD.bottombar
{
    PADDING-RIGHT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    BACKGROUND-IMAGE: url(../images/main/tab_bgrnd.jpg);
    BEHAVIOR: url(../htc/PagingControl.htc);
    VERTICAL-ALIGN: middle;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    HEIGHT: 15px;
    BACKGROUND-COLOR: #31619c;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}
.list2popup
{
    BORDER-RIGHT: 0px;
    TABLE-LAYOUT: auto;
    BORDER-TOP: 0px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
    TEXT-ALIGN: left
}
.list2popup TH
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: thin outset;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: thin outset;
    COLOR: #ffffff;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #649ccc;
    TEXT-ALIGN: center
}
.list2popup TD
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: #ffffff thin outset;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #ffffff thin outset;
    COLOR: #18186b;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #cccccc;
    TEXT-ALIGN: center
}
.list
{
    BORDER-RIGHT: 0px;
    TABLE-LAYOUT: auto;
    BORDER-TOP: 0px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
    TEXT-ALIGN: left
}
.list A
{
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: middle;
    COLOR: #18186b;
    LINE-HEIGHT: 10pt;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list TD A
{
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: middle;
    COLOR: #18186b;
    LINE-HEIGHT: 10pt;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.list TR
{
    BEHAVIOR: url(../htc/ListHighlight.htc);
    VERTICAL-ALIGN: middle;
    HEIGHT: 20px
}
.list TR.normal
{
    VERTICAL-ALIGN: middle;
    HEIGHT: 20px
}
.list TR.highlight
{
    VERTICAL-ALIGN: middle;
    COLOR: #18186b;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #faf8d1
}
.list TR.bundle
{
    BACKGROUND-COLOR: #eadcab
}
.list TR.bundle_highlight
{
    COLOR: #18186b;
    BACKGROUND-COLOR: #faf8d1
}
.list TR.package
{
    BACKGROUND-COLOR: #f0ddee
}
.list TR.package_highlight
{
    COLOR: #18186b;
    BACKGROUND-COLOR: #faf8d1
}
.list TD.title
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: #ffffff thin outset;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    BEHAVIOR: url(../HTC/PagingControl.htc);
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: medium none;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.2em;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #37669e;
    TEXT-ALIGN: center
}
.list TH
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: thin outset;
    FONT-SIZE: 8.5pt;
    BEHAVIOR: url(../htc/PagingControl.htc);
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: gray thin outset;
    COLOR: #ffffff;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #649ccc;
    TEXT-ALIGN: center
}
.list TD
{
    BORDER-RIGHT: #535353 thin outset;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 3px;
    FONT-SIZE: 8.5pt;
    MARGIN-LEFT: 0px;
    BORDER-LEFT: #cecece thin outset;
    COLOR: #18186b;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial
}
.list TD.noborder
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: 0px;
    FONT-SIZE: 8.5pt;
    BORDER-LEFT: #cecece thin outset;
    COLOR: #18186b;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
.list TD.bottombar
{
    PADDING-RIGHT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    BACKGROUND-IMAGE: url(../images/main/tab_bgrnd.jpg);
    BEHAVIOR: url(../htc/PagingControl.htc);
    VERTICAL-ALIGN: middle;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    HEIGHT: 15px;
    BACKGROUND-COLOR: #31619c;
    TEXT-ALIGN: right
}
.list2
{
    BORDER-RIGHT: 0px;
    TABLE-LAYOUT: auto;
    BORDER-TOP: 0px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
    TEXT-ALIGN: left
}
.list2 TH
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: thin outset;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: thin outset;
    COLOR: #ffffff;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #649ccc;
    TEXT-ALIGN: center
}
.list2 TD
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: #ffffff thin outset;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #ffffff thin outset;
    COLOR: #18186b;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #cccccc;
    TEXT-ALIGN: center
}
.active
{
    BORDER-RIGHT: #ffffff 1px outset;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #ffffff 1px outset;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #ffffff 1px outset;
    WIDTH: 18px;
    CURSOR: hand;
    COLOR: #ffffff;
    LINE-HEIGHT: 8px;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #ffffff 1px outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #37669e;
    TEXT-ALIGN: center
}
.inactive
{
    BORDER-RIGHT: #ffffff 0px inset;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #ffffff 1px inset;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #ffffff 1px inset;
    WIDTH: 18px;
    COLOR: #cccccc;
    LINE-HEIGHT: 8px;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #ffffff 0px inset;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
.ascending
{
    BACKGROUND-IMAGE: url(../images/buttons/sortarrow_up.gif);
    VERTICAL-ALIGN: middle;
    WIDTH: 10px;
    MARGIN-RIGHT: 3px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 10px
}
.descending
{
    BACKGROUND-IMAGE: url(../images/buttons/sortarrow_down.gif);
    VERTICAL-ALIGN: middle;
    WIDTH: 10px;
    MARGIN-RIGHT: 3px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 10px
}
.cellstop
{
    COLOR: red
}
.listc
{
    BORDER-RIGHT: 0px;
    TABLE-LAYOUT: auto;
    BORDER-TOP: 0px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
    TEXT-ALIGN: left
}
.listc A
{
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: middle;
    COLOR: #18186b;
    LINE-HEIGHT: 10pt;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.listc TD A
{
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: middle;
    COLOR: #18186b;
    LINE-HEIGHT: 10pt;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.listc TR
{
    BEHAVIOR: url(../htc/ListHighlight.htc);
    VERTICAL-ALIGN: middle;
    COLOR: #18186b;
    HEIGHT: 20px
}
.listc TR.normal
{
    VERTICAL-ALIGN: middle;
    COLOR: #18186b;
    HEIGHT: 20px
}
.listc TR.highlight
{
    VERTICAL-ALIGN: middle;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #faf8d1
}
.listc TD.title
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: #ffffff thin outset;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: medium none;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.2em;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #37669e;
    TEXT-ALIGN: center
}
.listc TH
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: thin outset;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: gray thin outset;
    COLOR: #ffffff;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #649ccc;
    TEXT-ALIGN: center
}
.listc TD
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 10px;
    FONT-SIZE: 8.5pt;
    MARGIN-LEFT: 50px;
    BORDER-LEFT: #cecece thin outset;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial
}
.listc TD.bottombar
{
    PADDING-RIGHT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    BACKGROUND-IMAGE: url(../images/main/tab_bgrnd.jpg);
    VERTICAL-ALIGN: middle;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    HEIGHT: 15px;
    BACKGROUND-COLOR: #31619c;
    TEXT-ALIGN: right
}
.list2c
{
    BORDER-RIGHT: 0px;
    TABLE-LAYOUT: auto;
    BORDER-TOP: 0px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
    TEXT-ALIGN: left
}
.list2c TH
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: thin outset;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: thin outset;
    COLOR: #ffffff;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #649ccc;
    TEXT-ALIGN: center
}
.list2 TD
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: #ffffff thin outset;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #ffffff thin outset;
    COLOR: #18186b;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #cccccc;
    TEXT-ALIGN: center
}
.active
{
    BORDER-RIGHT: #ffffff 1px outset;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #ffffff 1px outset;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #ffffff 1px outset;
    WIDTH: 18px;
    CURSOR: hand;
    COLOR: #ffffff;
    LINE-HEIGHT: 8px;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #ffffff 1px outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #37669e;
    TEXT-ALIGN: center
}
.inactive
{
    BORDER-RIGHT: #ffffff 0px inset;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #ffffff 1px inset;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #ffffff 1px inset;
    WIDTH: 18px;
    COLOR: #cccccc;
    LINE-HEIGHT: 8px;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #ffffff 0px inset;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
.ascending
{
    BACKGROUND-IMAGE: url(../images/buttons/sortarrow_up.gif);
    VERTICAL-ALIGN: middle;
    WIDTH: 10px;
    MARGIN-RIGHT: 3px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 10px
}
.descending
{
    BACKGROUND-IMAGE: url(../images/buttons/sortarrow_down.gif);
    VERTICAL-ALIGN: middle;
    WIDTH: 10px;
    MARGIN-RIGHT: 3px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 10px
}
.cellstop
{
    COLOR: red
}
.title
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    BACKGROUND-IMAGE: url(../images/main/tab_bgrnd.jpg);
    VERTICAL-ALIGN: bottom;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    HEIGHT: 17px;
    BACKGROUND-COLOR: #31619c;
    TEXT-ALIGN: center
}
.delete
{
    VERTICAL-ALIGN: middle;
    WIDTH: 5%;
    CURSOR: hand;
    COLOR: #18186b;
    TEXT-ALIGN: center
}
.select
{
    VERTICAL-ALIGN: middle;
    WIDTH: 5%;
    CURSOR: hand;
    COLOR: #18186b;
    TEXT-ALIGN: center
}
.icon
{
    VERTICAL-ALIGN: middle;
    WIDTH: 5%;
    CURSOR: hand;
    TEXT-ALIGN: center
}
.configurable
{
    VERTICAL-ALIGN: middle;
    WIDTH: 10%;
    TEXT-ALIGN: center
}
.name
{
    VERTICAL-ALIGN: middle;
    WIDTH: 50%;
    COLOR: #18186b;
    TEXT-ALIGN: left
}
.namenarrow
{
    VERTICAL-ALIGN: middle;
    WIDTH: 15%;
    TEXT-ALIGN: left
}
.common
{
    VERTICAL-ALIGN: middle;
    WIDTH: 50%;
    COLOR: #18186b;
    TEXT-ALIGN: left
}
.ID
{
    VERTICAL-ALIGN: middle;
    WIDTH: 10%;
    CURSOR: hand;
    COLOR: #18186b;
    TEXT-ALIGN: left
}
.sku
{
    VERTICAL-ALIGN: middle;
    WIDTH: 20%;
    COLOR: #18186b;
    TEXT-ALIGN: left
}
.type
{
    VERTICAL-ALIGN: middle;
    WIDTH: 5%;
    COLOR: #18186b;
    TEXT-ALIGN: center
}
.status
{
    VERTICAL-ALIGN: middle;
    WIDTH: 5%;
    COLOR: #18186b;
    TEXT-ALIGN: center
}
.available
{
    PADDING-RIGHT: 5px;
    VERTICAL-ALIGN: middle;
    TEXT-ALIGN: right
}
.onHold
{
    PADDING-RIGHT: 5px;
    VERTICAL-ALIGN: middle;
    TEXT-ALIGN: right
}
.backOrdered
{
    PADDING-RIGHT: 5px;
    VERTICAL-ALIGN: middle;
    TEXT-ALIGN: right
}
.cost
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    VERTICAL-ALIGN: middle;
    COLOR: #18186b;
    TEXT-ALIGN: right
}
.quantity
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    VERTICAL-ALIGN: middle;
    WIDTH: 5%;
    COLOR: #18186b;
    TEXT-ALIGN: right
}
.date
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    VERTICAL-ALIGN: middle;
    COLOR: #18186b;
    TEXT-ALIGN: center
}
.Buttons
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: #ffffff thin outset;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #ffffff thin outset;
    COLOR: #18186b;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #649ccc;
    TEXT-ALIGN: center
}
.ButtonBackground
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: #ffffff thin outset;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #ffffff thin outset;
    BORDER-BOTTOM: gray thin outset;
    BACKGROUND-COLOR: #fdfced;
    TEXT-ALIGN: center
}
.Buttons2
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: #ffffff thin outset;
    FONT-WEIGHT: 800;
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #ffffff thin outset;
    COLOR: #18186b;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #b9cadc;
    TEXT-ALIGN: center
}
.ButtonSuperFly
{
    BORDER-RIGHT: #535353 thin outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    MARGIN-LEFT: 5px;
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: thin outset;
    WIDTH: 100px;
    CURSOR: hand;
    COLOR: #000000;
    LINE-HEIGHT: 1.2em;
    MARGIN-RIGHT: 5px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center
}
.ButtonSuperFly_disabled
{
    BORDER-RIGHT: #cccccc thin inset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #000000 thin inset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #000000 thin inset;
    WIDTH: 100px;
    CURSOR: hand;
    COLOR: #000000;
    LINE-HEIGHT: 1.2em;
    MARGIN-RIGHT: 5px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #cccccc thin inset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #d1dbe6;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.ButtonSuperFly_pressed
{
    BORDER-RIGHT: #cccccc thin inset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #000000 thin inset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    MARGIN-LEFT: 5px;
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: #000000 thin inset;
    WIDTH: 100px;
    CURSOR: hand;
    COLOR: #000000;
    LINE-HEIGHT: 1.2em;
    MARGIN-RIGHT: 5px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #cccccc thin inset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #d1dbe6;
    TEXT-ALIGN: center
}
.imageselectpopup
{
    FONT-SIZE: 9pt;
    VERTICAL-ALIGN: middle;
    WIDTH: 145px;
    COLOR: #18186b;
    FONT-FAMILY: Arial;
    HEIGHT: 15px;
    TEXT-ALIGN: right
}
.ButtonReallySmall
{
    BORDER-RIGHT: black thin outset;
    BORDER-TOP: #d6d3d6 thin outset;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: gray thin outset;
    CURSOR: hand;
    COLOR: #000000;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.ButtonSmall
{
    BORDER-RIGHT: black thin outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #d6d3d6 thin outset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    MARGIN-LEFT: 5px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: gray thin outset;
    WIDTH: 50px;
    CURSOR: hand;
    COLOR: #000000;
    MARGIN-RIGHT: 5px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.ButtonSmall_available
{
    BORDER-RIGHT: black thin outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #d6d3d6 thin outset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    MARGIN-LEFT: 5px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: gray thin outset;
    WIDTH: 50px;
    CURSOR: hand;
    COLOR: #000000;
    MARGIN-RIGHT: 5px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.ButtonSmall_pressed
{
    BORDER-RIGHT: #cccccc thin inset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #000000 thin inset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    MARGIN-LEFT: 5px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: #000000 thin inset;
    WIDTH: 50px;
    CURSOR: hand;
    COLOR: #000000;
    MARGIN-RIGHT: 5px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #cccccc thin inset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #d1dbe6;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.ButtonSmall_Disabled
{
    BORDER-RIGHT: #cccccc thin inset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #000000 thin inset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    MARGIN-LEFT: 5px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: #000000 thin inset;
    WIDTH: 50px;
    CURSOR: hand;
    COLOR: #000000;
    MARGIN-RIGHT: 5px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #cccccc thin inset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #d1dbe6;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.ButtonSmall2
{
    BORDER-RIGHT: black thin outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #d6d3d6 thin outset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    MARGIN-LEFT: 5px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: gray thin outset;
    WIDTH: 50px;
    CURSOR: hand;
    COLOR: #000000;
    MARGIN-RIGHT: 5px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center
}
.ButtonWide
{
    BORDER-RIGHT: black thin outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #d6d3d6 thin outset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: gray thin outset;
    WIDTH: 80px;
    CURSOR: hand;
    COLOR: #000000;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.ButtonInsertDataField
{
    BORDER-RIGHT: black thin outset;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #d6d3d6 thin outset;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: gray thin outset;
    WIDTH: 100px;
    CURSOR: hand;
    COLOR: #000000;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.ButtonReallyWide
{
    BORDER-RIGHT: black thin outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #d6d3d6 thin outset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: gray thin outset;
    WIDTH: 150px;
    CURSOR: hand;
    COLOR: #000000;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.ButtonReallyWide_pressed
{
    BORDER-RIGHT: #cccccc thin inset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #000000 thin inset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #000000 thin inset;
    WIDTH: 150px;
    CURSOR: hand;
    COLOR: #000000;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #cccccc thin inset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #d1dbe6;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.ButtonInsertDataField_pressed
{
    BORDER-RIGHT: #cccccc thin inset;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #000000 thin inset;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #000000 thin inset;
    WIDTH: 100px;
    CURSOR: hand;
    COLOR: #000000;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #cccccc thin inset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #d1dbe6;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.ButtonWide_Disabled
{
    BORDER-RIGHT: #cccccc thin inset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #000000 thin inset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #000000 thin inset;
    WIDTH: 80px;
    CURSOR: hand;
    COLOR: #000000;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #cccccc thin inset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #d1dbe6;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.ButtonReallyWide_Disabled
{
    BORDER-RIGHT: #cccccc thin inset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #000000 thin inset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #000000 thin inset;
    WIDTH: 150px;
    CURSOR: hand;
    COLOR: #000000;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #cccccc thin inset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #d1dbe6;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.ButtonInsertDataField_Disabled
{
    BORDER-RIGHT: #cccccc thin inset;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #000000 thin inset;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #000000 thin inset;
    WIDTH: 100px;
    CURSOR: hand;
    COLOR: #000000;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #cccccc thin inset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #d1dbe6;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.ButtonSelectAll
{
    BORDER-RIGHT: black thin outset;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #d6d3d6 thin outset;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: gray thin outset;
    WIDTH: 60px;
    CURSOR: hand;
    COLOR: #000000;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.ButtonSelectAll_Pressed
{
    BORDER-RIGHT: #cccccc thin inset;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #000000 thin inset;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #000000 thin inset;
    WIDTH: 60px;
    CURSOR: hand;
    COLOR: #000000;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #cccccc thin inset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #d1dbe6;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.ButtonWide_Pressed
{
    BORDER-RIGHT: #cccccc thin inset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #000000 thin inset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #000000 thin inset;
    WIDTH: 80px;
    CURSOR: hand;
    COLOR: #000000;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #cccccc thin inset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #d1dbe6;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.Controls
{
    MARGIN-LEFT: 2px;
    WIDTH: 120px;
    MARGIN-RIGHT: 2px;
    TEXT-ALIGN: center
}
.Controls2
{
    MARGIN-LEFT: 2px;
    WIDTH: 120px;
    MARGIN-RIGHT: 2px;
    TEXT-ALIGN: center
}
A.Control
{
    BORDER-RIGHT: #535353 thin outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    BEHAVIOR: url(../htc/button.htc);
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: thin outset;
    WIDTH: 130px;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.2em;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #93aecb;
    TEXT-ALIGN: center
}
.Control
{
    BORDER-RIGHT: #535353 thin outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    BEHAVIOR: url(../htc/button.htc);
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: #ffffff thin outset;
    WIDTH: 120px;
    CURSOR: hand;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.2em;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #93aecb;
    TEXT-ALIGN: center
}
.ControlDisabled
{
    BORDER-RIGHT: #535353 thin outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    BEHAVIOR: url(../htc/button.htc);
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: #ffffff thin outset;
    WIDTH: 130px;
    COLOR: #e6e6e6;
    LINE-HEIGHT: 1.2em;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #93aecb;
    TEXT-ALIGN: center
}
.ActiveControl
{
    BORDER-RIGHT: #535353 thin outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    BEHAVIOR: url(../htc/button.htc);
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: #ffffff thin outset;
    WIDTH: 130px;
    CURSOR: hand;
    COLOR: #18186b;
    LINE-HEIGHT: 1.2em;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #93aecb;
    TEXT-ALIGN: center
}
A.control_available
{
    BORDER-RIGHT: #535353 thin outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    BEHAVIOR: url(../htc/button.htc);
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: thin outset;
    WIDTH: 130px;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.2em;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #93aecb;
    TEXT-ALIGN: center
}
.control_available
{
    BORDER-RIGHT: #535353 thin outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    BEHAVIOR: url(../htc/button.htc);
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: #ffffff thin outset;
    WIDTH: 120px;
    CURSOR: hand;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.2em;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #93aecb;
    TEXT-ALIGN: center
}
.control_disabled
{
    BORDER-RIGHT: #535353 thin outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    BEHAVIOR: url(../htc/button.htc);
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: #ffffff thin outset;
    WIDTH: 130px;
    COLOR: #e6e6e6;
    LINE-HEIGHT: 1.2em;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #93aecb;
    TEXT-ALIGN: center
}
.control_pressed
{
    BORDER-RIGHT: #cccccc thin inset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #000000 thin inset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    BEHAVIOR: url(../htc/button.htc);
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: #000000 thin inset;
    WIDTH: 130px;
    CURSOR: hand;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.2em;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #cccccc thin inset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #93aecb;
    TEXT-ALIGN: center
}
.control_active
{
    BORDER-RIGHT: #535353 thin outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    BEHAVIOR: url(../htc/button.htc);
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: #ffffff thin outset;
    WIDTH: 130px;
    CURSOR: hand;
    COLOR: #18186b;
    LINE-HEIGHT: 1.2em;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #93aecb;
    TEXT-ALIGN: center
}
A.Control2
{
    BORDER-RIGHT: #535353 thin outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #ffffff thin outset;
    WIDTH: 90px;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.2em;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #d6d3d6;
    TEXT-ALIGN: center
}
A.Control3
{
    BORDER-RIGHT: #535353 thin outset;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 2px;
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: thin outset;
    WIDTH: 80px;
    COLOR: #ffffff;
    LINE-HEIGHT: 1.2em;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #93aecb;
    TEXT-ALIGN: center
}
.PaymentArea
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: thin outset;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: gray thin outset;
    BACKGROUND-COLOR: #fbf9d8;
    TEXT-ALIGN: right
}
.DisplayTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    COLOR: #000000;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
.Results
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    COLOR: #18186b;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
.textz
{
    PADDING-LEFT: 25px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    COLOR: #18186b;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.textztitle
{
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    WIDTH: 210px;
    COLOR: #18186b;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.help
{
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: top;
    COLOR: #18186b;
    LINE-HEIGHT: 13pt;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.Buttonsz
{
    BORDER-TOP: #ffffff thin outset;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    COLOR: #18186b;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #535353 thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #649ccc;
    TEXT-ALIGN: center
}
.formz
{
    BORDER-RIGHT: #535353 thin outset;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: thin outset;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: gray thin outset;
    BACKGROUND-COLOR: #bdd9f8
}
.traffic
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: #ffffff thin outset;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: thin outset;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: aliceblue;
    TEXT-ALIGN: center
}
.traffic2
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: #ffffff thin outset;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: thin outset;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e6e6e6;
    TEXT-ALIGN: center
}
.displaytextz
{
    PADDING-RIGHT: 2px;
    FONT-WEIGHT: 500;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    WIDTH: 65px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #31619c;
    TEXT-ALIGN: right
}
.contentpanel
{
    BORDER-RIGHT: #7f7747 outset;
    BORDER-TOP: #d0c482 thin outset;
    PADDING-LEFT: 30px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: #c5b683 outset;
    COLOR: #18186b;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #7f7747 ridge;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #fdfced;
    TEXT-ALIGN: center;
    PADDING-TRIGHT: 30px
}
.errorbody
{
    FONT-WEIGHT: bold;
    COLOR: #800000;
    LINE-HEIGHT: 1.1em
}
.littlebox
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: thin outset;
    CURSOR: hand;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: gray thin outset;
    BACKGROUND-COLOR: #fbf9d8
}
.littlebox2
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 1px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: thin outset;
    WIDTH: 100px;
    COLOR: #18186b;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center
}
.littlebox3
{
    BORDER-RIGHT: #535353 thin outset;
    BORDER-TOP: #ffffff thin outset;
    PADDING-LEFT: 1px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: thin outset;
    WIDTH: 75px;
    CURSOR: hand;
    COLOR: #18186b;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: gray thin outset;
    FONT-FAMILY: Arial;
    HEIGHT: 75px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center;
    ALIGN: center
}
.supsmall
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    LINE-HEIGHT: 1.1em;
    FONT-FAMILY: arial, verdana;
    BACKGROUND-COLOR: #b9cadc
}
.tabletext
{
    BORDER-RIGHT: black thin outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black thin outset;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8.5pt;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: black thin outset;
    COLOR: #000000;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: black thin outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #b9cadc;
    TEXT-ALIGN: center;
    VERTICALALIGN: middle
}
.navbody
{
    BACKGROUND-POSITION: left top;
    MARGIN-TOP: 0px;
    BACKGROUND-IMAGE: url(../images/main/leftbgrnd.jpg);
    MARGIN-LEFT: 0px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-COLOR: #fdfced
}
.leftnav
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT: 600;
    FONT-SIZE: 8.5pt;
    BACKGROUND-IMAGE: url(../images/main/navlink.jpg);
    MARGIN-LEFT: 12px;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.normal
{
    FONT-WEIGHT: 400;
    FONT-SIZE: 9pt;
    VERTICAL-ALIGN: middle;
    COLOR: #000000;
    LINE-HEIGHT: 12pt;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.highlight
{
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    COLOR: #18186b;
    LINE-HEIGHT: 1.2em;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #fdfced;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.highlight
{
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: middle;
    COLOR: #fdfced;
    LINE-HEIGHT: 10pt;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.searchicon
{
    LEFT: -5px;
    POSITION: relative;
    TOP: 0px
}
.formicon
{
    MARGIN-TOP: 2px;
    Z-INDEX: 5;
    MARGIN-LEFT: 4px
}

.menuItem
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-SIZE: 7.5pt;
    PADDING-BOTTOM: 2px;
    WIDTH: 110px;
    COLOR: black;
    LINE-HEIGHT: 7.5pt;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #fdfced
}
.highlightItem
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-SIZE: 7.5pt;
    PADDING-BOTTOM: 2px;
    WIDTH: 110px;
    COLOR: white;
    LINE-HEIGHT: 7.5pt;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: highlight
}

.CompletionPopup
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-SIZE: 10pt;
    BACKGROUND: white;
    BORDER-LEFT: 1px solid;
    BORDER-BOTTOM: 1px solid;
    FONT-FAMILY: Arial
}

.errortextcolor
{
}
.LayerOne
{
    MARGIN-TOP: 50px;
    DISPLAY: none;
    Z-INDEX: 1;
    LEFT: 0pt;
    MARGIN-LEFT: 35px;
    POSITION: absolute;
    TOP: 0pt
}
.table4equalcells
{
    FONT-SIZE: 8pt;
    COLOR: #18186b;
    FONT-FAMILY: Arial
}
.table4equalcells TD
{
    WIDTH: 25%;
    TEXT-ALIGN: left
}
.table4equalcells TD.label
{
    VERTICAL-ALIGN: middle;
    WIDTH: 25%;
    TEXT-ALIGN: right
}
.table5cells
{
    FONT-SIZE: 8pt;
    WIDTH: 100%;
    COLOR: #18186b;
    FONT-FAMILY: Arial
}
.table5cells TD
{
    WIDTH: 20%;
    TEXT-ALIGN: left
}
.table5cells TD.label
{
    VERTICAL-ALIGN: middle;
    WIDTH: 20%;
    TEXT-ALIGN: right
}
.table5cells TD.displaytextvalue
{
    VERTICAL-ALIGN: middle;
    WIDTH: 20%;
    TEXT-ALIGN: right
}
.orderinfotitlebold
{
    FONT-WEIGHT: 800;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    WIDTH: 50%;
    COLOR: #18186b;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
.orderinfovalue
{
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    WIDTH: 50%;
    COLOR: #18186b;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.orderinfovaluebold
{
    FONT-WEIGHT: 800;
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    WIDTH: 50%;
    COLOR: #18186b;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.checkbox
{
    VERTICAL-ALIGN: top;
    TEXT-ALIGN: center
}
.blacktext
{
    FONT-SIZE: 8.5pt;
    VERTICAL-ALIGN: middle;
    COLOR: #000000;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
.helptopic
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 11pt;
    MARGIN-BOTTOM: 20px;
    VERTICAL-ALIGN: top;
    WIDTH: 420px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #d1deec;
    TEXT-ALIGN: left
}
.helpsubtopic
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 10pt;
    MARGIN-BOTTOM: 20px;
    VERTICAL-ALIGN: top;
    WIDTH: 420px;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.helpbody
{
    FONT-SIZE: 9pt;
    VERTICAL-ALIGN: top;
    WIDTH: 420px;
    LINE-HEIGHT: 13pt;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #fdfced;
    TEXT-ALIGN: left
}
.ButtonShort
{
    BORDER-RIGHT: thin outset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: thin outset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    MARGIN-LEFT: 5px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: thin outset;
    WIDTH: 50px;
    CURSOR: hand;
    COLOR: #000000;
    MARGIN-RIGHT: 5px;
    BORDER-BOTTOM: thin outset;
    FONT-FAMILY: Arial;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.ButtonShort_Disabled
{
    BORDER-RIGHT: thin inset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: thin inset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    MARGIN-LEFT: 5px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: thin inset;
    WIDTH: 50px;
    CURSOR: hand;
    COLOR: #000000;
    MARGIN-RIGHT: 5px;
    BORDER-BOTTOM: thin inset;
    FONT-FAMILY: Arial;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #d1dbe6;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.ButtonShort_pressed
{
    BORDER-RIGHT: thin inset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: thin inset;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    MARGIN-LEFT: 5px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: thin inset;
    WIDTH: 50px;
    CURSOR: hand;
    COLOR: #000000;
    MARGIN-RIGHT: 5px;
    BORDER-BOTTOM: thin inset;
    FONT-FAMILY: Arial;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #d1dbe6;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
