protExpressRealm {
    gov.nih.nci.protexpress.security.TomcatCsmDbLoginModule required
        driver="org.hsqldb.jdbcDriver"
        url="jdbc:hsqldb:mem:protExpressTests"
        user="sa"
        passwd=""
        query="SELECT * FROM csm_user WHERE login_name=? and password=?"
        encryption-enabled="NO";
};