<?xml version="1.0" encoding="UTF-8" ?>

<!--L
  Copyright 5AM Solutions, Inc.

  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/prot-express/LICENSE.txt for details.
L-->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c{1} [%t] %d{dd MMM yyyy HH:mm:ss}: %m%n" />
        </layout>
    </appender>
    <appender name="file1" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${log.dir}/protExpress.log" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="5" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c{1} [%t] %d{dd MMM yyyy HH:mm:ss}: %m%n" />
        </layout>
    </appender>

    <logger name="gov.nih.nci.protexpress">
        <level value="DEBUG" />
    </logger>

    <logger name="org.apache.struts2">
        <level value="WARN" />
    </logger>

    <logger name="com.opensymphony.xwork2">
        <level value="WARN" />
    </logger>

    <logger name="org.hibernate">
        <level value="WARN" />
    </logger>

<!-- Uncomment to have hibernate sql logging turned on
    <category name="org.hibernate.SQL">
        <priority value="DEBUG" />
    </category> -->

    <root>
        <priority value="WARN" />
        <appender-ref ref="file1" />
    </root>
</log4j:configuration>
